div.suggest{	
	-moz-box-sizing : border-box;
	box-sizing: border-box;
	background-color:#FFFFFF;
	border: 1px solid #000000;
	position:absolute;
}
div.suggest table{
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
	border-collapse:collapse;
	line-height: 18px;
	padding-left: 2px;
	border: 0px;	
}

div.suggest table td{
	border: 0px;	
}

div.suggest .current{
	background-color: #3366cc;
	color:#FFFFFF;
}